.fade-transition {
	transition: all .25s ease-out;
	opacity: 1;
}
.fade-enter {
	opacity: 0;
}

.fade-leave {
	transition: all .25s ease-in 0.4s;
	opacity: 0;
}


.introFade-transition {
	transition: all .15s ease-out;
	opacity: 1;
}
.introFade-enter, .introFade-leave {
	opacity: 0;
}

.fadeInUp-transition {
	transition: transform 0.35s ease-out .35s, opacity 0.5s ease-in .35s;
	opacity: 1;
	transform: translateY(0);
}
.fadeInUp-enter, .fadeInUp-leave {
	transition: transform 0.35s ease-out, opacity 0.35s ease-out;
	opacity: 0;
	transform: translateY(40px);
}

.search__container {
	transition: all .15s;
	opacity: 1;
}

.fadeOut {
	opacity: 0;
}

.fadeOut--reverse {
	opacity: 1;
}

.moveUp {
	animation: 0.6s cubic-bezier(.87,-.21,.19,1.34) .15s forwards moveUp;
}

.moveUp--reverse {
	animation: 0.6s cubic-bezier(.87,-.21,.19,1.34) .15s forwards moveUp;
	animation-direction: reverse;
}

.expand {
	animation: 0.25s cubic-bezier(1,.02,.98,.53) 1.2s forwards expand;
}

.expand--reverse {
	animation: 0.25s cubic-bezier(1,.02,.98,.53) 1.2s forwards expand;
	animation-direction: reverse;
}

@keyframes expand {
	0% {
		max-height: 10px
	}
	100% {
		max-height: 10000px;
		margin-bottom: 6.4em;
	}
}

@keyframes moveUp {
	0% {
		transform: transateY(0%);
	}

	100% {
		transform: translateY(-60vh);
	}
}