body {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
}

nav {
	position: relative;
	height: 100px;
	width: 100%;
	overflow: auto;
	margin: 1.6em 0 1.6em;
	line-height: 100px;
	z-index: 1000;
}

.nav__logo {
	font-size: 2.4em;
	float: left;
}

.nav__about {
	float: right;
	z-index: 1000;
}

a {
	cursor: pointer;
}

.intro {
	width: 66%;
	margin: 1.2em 0;
}

.transform__container {
	position: absolute;
	top: calc(100vh - 200px);
	width: 90%;
	max-width: 1200px;
}

.search__container {
	display: flex;
	& .search__field {
		flex: 4 0 8em;
	}
	& .search__btn {
		flex: 1 0 auto;
		flex-align: right;
	}
}

.result__container {
	background-color: $white;
	min-height: 10px;
	max-height: 10px;
	& p {
		padding: 1.6em 0.8em;
	}
}

.about__container {
	position: absolute;
	background: $black;
	top: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 1;
	& .about__inner {
		margin: 200px 0;
		max-width: 1200px;
		& p {
			width: 75%;
			margin-bottom: 1.6em;
		}
	}
}