body {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
}

nav {
	position: relative;
	height: 100px;
	width: 100%;
	overflow: auto;
	margin: 1.6em 0 1.6em;
	line-height: 100px;
	z-index: 1000;
}

.nav__logo {
	font-size: 2.4em;
	float: left;
	cursor: pointer;
}

.loading-message {
	@media screen and (max-width: 400px) {
		display: none;
	}
}

.nav__about {
	float: right;
	z-index: 1000;
	transition: 0.25s;
	&:hover {
		opacity: 0.6;
	}
}

.intro {
	width: 66%;
	margin: 1.2em 0 0.4em;
	@media screen and (max-width: 910px) {
		width: 100%;
	}
	@media screen and (max-width: 400px) {
		margin: 0.6em 0 0.4em;
	}
}

.transform__container {
	position: absolute;
	top: 0;
	width: 90%;
	max-width: 1200px;
	transform: translateY(80vh);
	-webkit-transform:translateY(80vh);
	@media screen and (max-width: 400px) {
		transform: translateY(70vh);
		-webkit-transform:translateY(70vh);
	}
}

.search__container {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	& .search__field {
		-webkit-flex: 4 0 8em;
		flex: 4 0 8em;
	}
	& .search__btn {
		-webkit-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-align: right;
		flex-align: right;
		min-width: 40px;
	}
}

.result__container {
	background-color: $white;
	min-height: 5px;
	max-height: 5px;
	& p {
		padding: 1.6em 0.8em 0;
	}
	& a {
		padding: 1.6em 0;
		display: block;
	}
}

.about__container {
	position: absolute;
	background: $black;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 1;
	& .about__inner {
		margin: 200px auto;
		max-width: 1200px;
		max-width: 90%;
		@media screen and (max-width: 400px) {
			margin: 150px auto;
		}
		& p {
			width: 75%;
			margin-bottom: 1.6em;
			@media screen and (max-width: 700px) {
				width: auto;
			}
		}
	}
}

.back__btn {
	transition: all 0.5s cubic-bezier(.19,1.1,.51,.92);
	&:hover {
		padding-left: 0.6em;
		& > .arrow {
			margin-right: 0.15em;
		}
	}
}

.arrow {	
	transition: all 0.25s ease-in-out;
	margin-right: 0;
}