body {
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
}

nav {
	height: 100px;
	width: 100%;
	overflow: auto;
	margin: 1.6em 0 1.6em;
	line-height: 100px;
}

.nav__logo {
	font-size: 2.4em;
	float: left;
}

.nav__about {
	float: right;
}

.intro {
	width: 66%;
	margin: 1.2em 0;
}

.transform__container {
	position: absolute;
	bottom: 2.4em;
	width: 90%;
	max-width: 1200px;
}

.search__container {
	display: flex;
	& .search__field {
		flex: 4 0 8em;
	}
	& .search__btn {
		flex: 1 0 auto;
		flex-align: right;
	}
}

.result__container {
	background-color: $white;
	min-height: 10px;
	& p {
		padding: 1.6em 0.8em;
	}
}