html {
	font-family: 'Apercu';
	color: $white;
	background: $black;
	font-size: 16px;
}

.intro {
	font-size: 4.8em;
}

p {
	font-size: 3.2em;
	line-height: 1.2em;
	color: $black;
}

input {
	font-family: 'Apercu';
	color: $white;
	font-size: 3.2em;
}

.about__inner p {
	color: $white;
}

.result__container {
	color: $black;
}