html {
	font-family: 'Vollkorn';
	color: $white;
	background: $black;
	font-size: 16px;
	font-weight: 400;
}

a {
	cursor: pointer;
}

.intro {
	font-size: 4.8em;
	line-height: 1.2em;
	@media screen and (max-width: 720px) {
		font-size: 3.6em;
	}
	@media screen and (max-width: 400px) {
		font-size: 2.4em;
	}
}

p {
	font-size: 3.2em;
	line-height: 1.4em;
	color: $black;
	@media screen and (max-width: 600px) {
		font-size: 2.4em;
	}
	@media screen and (max-width: 400px) {
		font-size: 1.6em;
	} 
}

input {
	font-family: 'Vollkorn';
	color: $white;
	font-size: 3.2em;
	@media screen and (max-width: 400px) {
		font-size: 1.6em;
	}
}

.about__inner p {
	color: $white;
}

.result__container {
	color: $black;
	& p {
		width: 75%;
		@media screen and (max-width: 600px) {
			width: auto;
		}
	}
}